# 剔除仓库配置相关文件和文件夹
.gitignore
.git/
# 剔除项目临时文件夹
__pycache__/
librime_x86/bin/*
!librime_x86/bin/rime_api_console.exe
auto_rime/*
!auto_rime/charsets/
!auto_rime/articles/
!auto_rime/articles/001_春（朱自清）.txt
!auto_rime/articles/002_爱怕什么（毕淑敏）.txt
!auto_rime/articles/003_秋天的怀念（史铁生）.txt
!auto_rime/articles/004_增广贤文.txt
!auto_rime/mapping_table.txt
Rime/*
!Rime/opencc/
!Rime/essay.txt
!Rime/default.yaml
!Rime/default.custom.yaml
!Rime/key_bindings.yaml
!Rime/pinyin_simp.dict.yaml
!Rime/pinyin_simp.schema.yaml
!Rime/punctuation.yaml
!Rime/symbols.yaml
# 自定义剔除文件列表
_*.*
*.sublime-workspace
*.sublime-project
backup/
build/
dist/
